.DS_Store
node_modules/
.voicetree/
voicetree-29-3/
.mcp.json
*.log
*.bak
*.bak.*
research
.archive
.claude/worktrees/**
.claude/launch.json
.dan-ide
.kiro
CLAUDE.md
.aider*
docs/.plans/


# APM dependencies
apm_modules/
